<form class="jumbotron" #mainForm="ngForm" (ngSubmit)="onSubmit(mainForm)">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="companyCode">Company code:</label>
          <select
            class="custom-select"
            id="companyCode"
            name="companyCode"
            [(ngModel)]="selectedCmpnyCode"
            (change)="getCompanyName()"
            style="width: 100%"
          required>
            <option *ngFor="let item of companies" value="{{ item._id }}">
              {{ item._id }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="companyName">Company Name:</label>
          <input
            type="text"
            class="form-control"
            id="companyName"
            name="companyName"
            placeholder="Company Name"
            [(ngModel)]="selectedCmpnyName"
            disabled
          />
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="startDate">Start Date:</label>
          <input
            type="date"
            id="startDate"
            class="form-control"
            name="startDate"
            placeholder="Start Date"
            ngModel
          required/>
        </div>
        <div class="form-group col-md-3">
          <label for="endDate">End Date:</label>
          <input
            type="date"
            id="endDate"
            class="form-control"
            name="endDate"
            placeholder="End Date"
            ngModel
          required/>
        </div>
      </div>
      <button class="btn btn-primary search" type="submit" [disabled] = "!mainForm.valid">Search</button>
    </div>
  </div>
</form>

<div class="alert alert-warning" role="alert"  style="margin-right: 90rem;margin-left: 15rem;" *ngIf = noStockFound>
  No Stocks found for given date range. Please select another date range
</div>

<div class="stock" *ngIf="isSubmitted">
  <table class="table-bordered table-striped table-condensed table">
    <thead>
      <tr>
        <th colspan="1" class="header">Stock Price</th>
        <th colspan="1" class="header">Date</th>
        <th colspan="1" class="header">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <td colspan="1">{{ stock.stock_price }}</td>
        <td colspan="1">{{ stock.date }}</td>
        <td colspan="1">{{ stock.time }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="stats" *ngIf = isSubmitted>
  <table
    class="table-bordered table-striped table-condensed table"
    style="max-width: 2rem"
  >
    <tbody>
      <tr>
        <td colspan="1" class="header">Min</td>
        <td colspan="1">{{minPrice}}</td>
      </tr>
      <tr>
        <td colspan="1" class="header">Max</td>
        <td colspan="1">{{maxPrice}}</td>
      </tr>
      <tr>
        <td colspan="1" class="header">Avg</td>
        <td colspan="1">{{avgPrice}}</td>
      </tr>
    </tbody>
  </table>
</div>
